.container {
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
  
    background-color: '#6804CD';
    
  }
  
  .text {
    color: '#ffffff';
    font-weight: bold;
  }