.mobileMenu {
    display: block;
    position: absolute;
    z-index: 25;
    width: 100%;
    z-index: 9999;
    
    
}

.mobileUpperMenu {
    /* background-image: url("../../Img/galleryBG3.png"); */

display: flex;
flex-direction: row;
 
  
  justify-content: space-evenly;


    max-height: 100;
    width:300;
    height: 200;
   
}
.pressable {
    flex: 1;
    z-index: 100;
    
    background-color: "black";
    position: absolute;
    top: 200;
   
}
.menubutton {
    align-items: center;
    justify-content: center;

    border: solid 1px black;
    border-radius: 50px;
    height: 50;
    width: 100;
   
}
.linearGrad {
    background-color: /* #f7ff0e */#8adb93;
    background-image: linear-gradient(to right, /* #8adb93 */ #77df8e, #fbf4fd);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
  
    position: relative;
    margin-top: 0;
    padding-right: 15;
    max-height: 7000;
    box-sizing: initial;
    height: 200;
    width: 100;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;

    
}